<?xml version="1.0" encoding="utf-8"?>
<Template>
  <Name>Velstand Holder Pages</Name>
  <Alias>VelstandHolderPages</Alias>
  <Design><![CDATA[@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "VelstandWrapper.cshtml";
}

@Html.Partial("VelstandRedirect")]]></Design>
  <Master>VelstandWrapper</Master>
  <Hash>76143c7ed303f683228dc9d25d0ed0d4</Hash>
</Template>