<?xml version="1.0" encoding="utf-8"?>
<Template>
  <Name>Velstand Content Pages</Name>
  <Alias>VelstandContentPages</Alias>
  <Design><![CDATA[@using Velstand.Helpers
@using Velstand.Models
@using Velstand.Utilities
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "VelstandWrapper.cshtml";
    IPublishedContent current = CurrentPage;
}
@section VelstandHead
{
}
@section VelstandBody
{
    <div class="col s12">
		@Html.Partial("VelstandBreadCrumb")
	</div>
    <section class="SubContent col hide-on-small-only m3">
		<div  id="Fixed-Sidebar"><div class="Fixed-Wrapper">
	        <ul class="section table-of-contents">
				@foreach (var nav in current.VHolder().Children())
				{
					<li><a href="@nav.Url" class="grey-text @(current.Id == nav.Id ? "active" : "")">@Umbraco.Field(nav, "title")</a></li>
				}
			</ul>
		</div></div>
		<br />
    </section>



    <section class="MainContent col s12 m9">
        <article class="Single-Post Post collection">
            <div class="collection-item">
                <h1 class="Post-Title">@Umbraco.Field("title")</h1>
                <span class="Post-Date mdi-notification-event-note"> @Html.DictionalyDateFormat(current, "releaseDate")</span>&nbsp;&nbsp;
                <span class="Post-Category mdi-action-label">@Html.CategoryWithLink(current, "category")</span>
            </div>
            @Html.Crop(current, "eyecatch", "blogContentHead")
            <div class="collection-item">
                <div class="Post-Body">

                    @current.VMarkUp("body").ToLazyLoad()
                </div>
                @* disqus *@
                @Html.Partial("VelstandDisqus")
            </div>

        </article>

        @* Google Adsense x 2 *@
		<div class="row">
			<div class="col s12 m6 left-align">
        		@Umbraco.RenderMacro("VelstandWidgetGoogleAdsense")
			</div>
			<div class="col s12 m6 right-align">
        		@Umbraco.RenderMacro("VelstandWidgetGoogleAdsense")
			</div>
		</div>
    </section>
}]]></Design>
  <Master>VelstandMaster</Master>
  <Hash>5af0adc510f6b0b3a9638670aabaa7e2</Hash>
</Template>