<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Category Holder</Name>
    <Alias>VelstandPrivateholderCategory</Alias>
    <Icon>icon-tags color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master>VelstandPrivateItems</Master>
    <AllowedTemplates />
    <DefaultTemplate></DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>VelstandPrivateCategory</DocumentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Name>Categories</Name>
      <Alias>listview</Alias>
      <Type>Umbraco.ListView</Type>
      <Definition>e3b42b1d-ce9f-4284-98b5-189116ec9ba5</Definition>
      <Tab>Category</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>28</Id>
      <Caption>Category</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
  <Hash>7bb3a7f8aa5eef9cc25e08caecac910e</Hash>
</DocumentType>