<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Pages Holder</Name>
    <Alias>VelstandHolderPages</Alias>
    <Icon>icon-book-alt-2 color-yellow</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master>VelstandHolder</Master>
    <Compositions>
      <Composition>VelstandHolder</Composition>
    </Compositions>
    <AllowedTemplates>
      <Template>VelstandHolderPages</Template>
    </AllowedTemplates>
    <DefaultTemplate>VelstandHolderPages</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>GridContent</DocumentType>
    <DocumentType>VelstandContentPages</DocumentType>
    <DocumentType>VelstandContentLanding</DocumentType>
  </Structure>
  <GenericProperties />
  <Tabs />
  <Hash>fc0aa5ca71011f75602082fbf5f94d95</Hash>
</DocumentType>