<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Holder</Name>
    <Alias>VelstandHolder</Alias>
    <Icon>icon-book-alt-2 color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master>VelstandPages</Master>
    <Compositions>
      <Composition>VelstandPages</Composition>
    </Compositions>
    <AllowedTemplates>
      <Template>VelstandHolder</Template>
    </AllowedTemplates>
    <DefaultTemplate>VelstandHolder</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>VelstandContent</DocumentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Name>List View</Name>
      <Alias>childlen</Alias>
      <Type>Umbraco.ListView</Type>
      <Definition>e3b42b1d-ce9f-4284-98b5-189116ec9ba5</Definition>
      <Tab>List View</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Type>Umbraco.Textbox</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>Content</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Hide (BreadCrumb)</Name>
      <Alias>pankuzuFlg</Alias>
      <Type>Umbraco.TrueFalse</Type>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Tab>Content</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Hide Node of BreadCrumb
]]></Description>
      <SortOrder>1</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Body</Name>
      <Alias>body</Alias>
      <Type>Umbraco.Grid</Type>
      <Definition>6525d3ef-6693-4b81-b0cb-136eb1fcde07</Definition>
      <Tab>Content</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>15</Id>
      <Caption>List View</Caption>
      <SortOrder>0</SortOrder>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Id>16</Id>
      <Caption>Content</Caption>
      <SortOrder>1</SortOrder>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
  <Hash>540c81f2f075840901001eeb52cc1e10</Hash>
</DocumentType>