<?xml version="1.0" encoding="utf-8"?>
<metablogapi>
  <channel>
    <name>blog</name>
    <user>0</user>
    <startNode>1765</startNode>
    <fullTree>True</fullTree>
    <documentTypeAlias>VelstandContent</documentTypeAlias>
    <fields>
      <categories>
      </categories>
      <description>body</description>
      <excerpt>
      </excerpt>
    </fields>
    <mediaObjectSupport enabled="True" folderId="1860" mediaTypeAlias="Image" mediaTypeFileProperty="umbracoFile" />
  </channel>
</metablogapi>