<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Infomation Holder</Name>
    <Alias>VelstandHolderInfomation</Alias>
    <Icon>icon-book-alt-2 color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master>VelstandHolder</Master>
    <AllowedTemplates />
    <DefaultTemplate></DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>VelstandFunctionFeed</DocumentType>
    <DocumentType>VelstandInfomation</DocumentType>
    <DocumentType>VelstandInfomationError404</DocumentType>
    <DocumentType>VelstandInfomationSitemap</DocumentType>
  </Structure>
  <GenericProperties />
  <Tabs />
  <Hash>262ca3bdd5b9414d49d3436191b5f986</Hash>
</DocumentType>