/*/wp-content
/*/App_Data/*
!/*/App_Data/Umbraco.sdf
#!/*/App_Data/packages/created
/*/website.publishproj
/*/*Deploy.config
/*/umbraco
/*/umbraco_client
/*/bin/*
!/*/bin/jumoo.usync.ui.dll
!/*/bin/jumps.umbraco.usync.dll
*/obj
/*/media
/*/masterpages
/*/ConnectionStrings.config
/*/Secrets.config
/*/Smtp.config
/*/uSync.Archive
*.aps
*.user
*.obj
*.pdb
*.pch
*.dll.config
*.cache
*.suo
*.log
*.vspscc
.DS_Store
._.DS_Store
*.sln.ide
# Include dlls if theyÅfre in the NuGet packages directory
!/packages/*/lib/*.dll
!/packages/*/lib/*/*.dll
/Velstand.Web/sitemap.xml