<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Category</Name>
    <Alias>VelstandPrivateCategory</Alias>
    <Icon>icon-tag color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master>VelstandPrivateItems</Master>
    <AllowedTemplates />
    <DefaultTemplate></DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>VelstandPrivateCategoryChild</DocumentType>
  </Structure>
  <GenericProperties />
  <Tabs>
    <Tab>
      <Id>21</Id>
      <Caption>Category</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
  <Hash>98eb3d07a663919c663df16a5b29d405</Hash>
</DocumentType>