<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Velstand</Name>
    <Alias>Velstand</Alias>
    <Icon>.sprTreeFolder</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <AllowedTemplates />
    <DefaultTemplate></DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Name>Release Date</Name>
      <Alias>releaseDate</Alias>
      <Type>Umbraco.NoEdit</Type>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Tab></Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
  </GenericProperties>
  <Tabs />
  <Hash>4f768f43e52be4b3248336c04aa65779</Hash>
</DocumentType>