<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Velstand</Name>
    <Alias>Velstand</Alias>
    <Icon>.sprTreeFolder</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <AllowedTemplates />
    <DefaultTemplate></DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Name>Release Date</Name>
      <Alias>releaseDate</Alias>
      <Type>Umbraco.DateTime</Type>
      <Definition>e4d66c0f-b935-4200-81f0-025f7256b89a</Definition>
      <Tab></Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
  </GenericProperties>
  <Tabs />
  <Hash>ac653ed26548574aadae25de7b1aac3b</Hash>
</DocumentType>