<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Page Content</Name>
    <Alias>VelstandContentPages</Alias>
    <Icon>icon-document color-yellow</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master>VelstandContent</Master>
    <Compositions>
      <Composition>VelstandContent</Composition>
    </Compositions>
    <AllowedTemplates>
      <Template>VelstandContentPages</Template>
    </AllowedTemplates>
    <DefaultTemplate>VelstandContentPages</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Name>Body</Name>
      <Alias>body</Alias>
      <Type>Umbraco.MarkdownEditor</Type>
      <Definition>a184ec88-c1cd-41d5-bb96-2c3e14164dad</Definition>
      <Tab>Content</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>48</Id>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
  <Hash>961a868c3c5e19ac974106e7e7930fba</Hash>
</DocumentType>