*{ font-family: 'Hiragino Kaku Gothic Pro', 'Meiryo', sans-serif; }
/* helpers */
.fullscreen {
	margin-top:-64px;
	padding-top:128px;
	height: 100vh;}
.text-with-shadow {
	text-shadow: gray 1px 1px 0, gray -1px 1px 0,
             gray 1px -1px 0, gray -1px -1px 0;}
.text-with-light {
    text-shadow: white 1px 1px 0, white -1px 1px 0,
             white 1px -1px 0, white -1px -1px 0;}


/* layout */
html,
body {
  height: 100%;}
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  border:none;
  padding-top:20px;
}
#footer {
	background-color:#666;}
.v-site-title {
	text-shadow: gray 1px 1px 0, gray -1px 1px 0,
		gray 1px -1px 0, gray -1px -1px 0;}



/* widget */
.v-widget {
	padding-bottom:20px;}
.v-widget h4{
    padding:10px;}
.v-widget h4 .glyphicon{
    padding-right:10px;}
.v-widget .Search{
    padding: 5px 20px 30px;}
.v-widget .NewPosts .v-post-title {
	display:table-cell;
	vertical-align: middle;
	height: 40px;
}


/* post body */
.v-post-body p{
    font-size:1.2em;
	line-height: 170%;}
.v-post-body h2 {
    font-weight:bold;
    color: #313698;
    margin-top: 40px;
    padding: 5px;
    border-bottom: solid 1px #313698;}
.v-post-body h3 {
    font-weight:bold;
    color: #5a6c94;
    padding:2px 5px 2px 15px;
    border-left: solid 6px #5a6c94;}
.v-post-body h4 {
    font-weight: bold;
    color: #5a6c94;
    margin-top: 30px;
    margin-left: 15px;
}
.v-post-body ul{
	padding-left: 40px !important;
	font-weight: bold;
}
.v-post-body ul li{
	list-style-type: circle !important;
}
.v-post-body ol{
	list-style-type: decimal !important;
	font-weight: bold;
}
.v-post-body blockquote {
  background-color: #f5f5f5;
}
.v-post-body code {
    background-color: gainsboro;
    padding: 3px 6px;
    border-radius:6px;
}
.v-post-body pre {
    background-color: gainsboro;
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: pre-wrap;
    border-radius:6px;
    padding:6px 6px 18px 6px;
}


/* post list */
.List-Post h2{
    font-size:1.7em;}
.List-Post .v-post-title {
    height:150px;
    min-height:150px;}
.List-Post .Post-Data {
    height:100px;
    min-height:100px;}


/* single post */
.v-single-post h1{
    color: #313698;}


/* post */
.v-post-icon {
	width:40px;
	height:40px;
	margin-right:20px;
}
.v-post-eyecatch {
    margin-right:20px;
}
.v-post-description .v-link-button{
    position:absolute;
    background-color:white;
    border:solid 1px #bbcee9;
    border-radius:6px;
    padding:5px 10px;
    right:15px;
    bottom:15px;}
.v-post-category a {
	display: inline-block;
	padding: 0 4px;
	border-radius: 3px 0 3px 0;
	border: solid 1px #dfdfdf;}
.v-post-category a:hover {
	background-color: #dfdfdf;}


/* navigation */
.v-nav-icon {
	font-size:1.8em;}


/* Level List */
.v-level-list .v-level-1 { padding-left: 5px; }
.v-level-list .v-level-2 { padding-left: 10px; }
.v-level-list .v-level-3 { padding-left: 15px; }
.v-level-list .v-level-4 { padding-left: 20px; }
.v-level-list .v-level-5 { padding-left: 25px; }
.v-level-list .v-level-6 { padding-left: 30px; }
.v-level-list .v-level-7 { padding-left: 35px; }
.v-level-list .collapsible-header,
.v-level-list .collapsible-body
 { border: none; }
.v-level-list { margin-left: 15px;}

/* collapse */
.collapsed:before {
    content:"\e080" !important;
    font-family: "Glyphicons Halflings";
}
.accordion-toggle {
    display:inline-block;
    cursor: pointer;
}   
.accordion-toggle:before {
    content:"\e114";
    font-family: "Glyphicons Halflings";
        
    /*--adjust as necessary--*/
    color: #000;
    padding-right: 0.5em;
    width:15px;
    display:inline-block;
}

/* sidebar */
.v-blog-sidebar .pinned {
    /* HACK:Off by */
    width:21.5%;
}
.pinned {
	top:64px !important;}


/* grid */
.umb-grid img {
	width:100%;
}
.umb-grid div {
	background-repeat: no-repeat;
	background-size:100%;
}
.umb-grid .row {
	margin-bottom: 0;
}
.umb-grid h1{
	margin-top:30px;
	padding-bottom:5px;
	border-bottom: solid 1px #333;
}


/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
