*{ font-family: 'Hiragino Kaku Gothic Pro', 'Meiryo', sans-serif; }
/*.container {
    width: auto;
}*/
html,
body {
  height: 100%;
  background-color: #d3d6e0;
}
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  background-color: #d3d6e0;
  border:none;
  /*background-color: #e4e5e9;*/
}
.Navbar {
    /*background-color: rgba(212, 212, 212, 0.4);*/}
.Header img{
    margin-bottom:-50px;
}
.Footer {
    margin-left:30px;}
.Widget h4{
    padding:10px;}
.Widget h4 .glyphicon{
    padding-right:10px;}
.Widget .Search{
    padding: 5px 20px 30px;}

.Font-Big {
    font-size: 30px;}

.Text-Shadow {
    color:white;
    text-shadow: black 1px 1px 0px, black -1px 1px 0px,
             black 1px -1px 0px, black -1px -1px 0px;}
.Post-Body p{
    font-size:1.2em;
	line-height: 170%;}
.Post-Body h2 {
    padding-left:15px;
    border-left: solid 8px #7a7db6;}
.Post-Body h3 {
    padding:10px;
    background-color: #bbcee9;}
.List-Post h2{
    font-size:1.7em;}
.List-Post .Post-Title {
    height:150px;
    min-height:150px;}
.List-Post .Post-Data {
    height:100px;
    min-height:100px;}
.List-Post .Post-Eyecatch {
    border-radius:0 0 10px 10px;}
.Description {
    position:relative;}
.Description .Link-Btn{
    position:absolute;
    background-color:white;
    border:solid 1px #bbcee9;
    border-radius:6px;
    padding:5px 10px;
    right:15px;
    bottom:15px;}
.Categories {
    padding: 0 10px;}
.Header {
    position:relative;}
.Site-Infomations {
    padding:25px 35px}
.Site-Infomations .Site-Title {
    font-size:2em;
    }
.Site-Infomations .Site-Description {
    }

#Static-Toolbar {
    position: fixed;
    bottom: 10px;
    right: 50px;}
#Static-Toolbar #Sns-Bar {
    position: fixed;
    right:53px;}
#Static-Toolbar #Sns-Bar table td{
    vertical-align:top;
	padding: 5px;}
#Static-Toolbar #Btns {
    position: fixed;
    font-size: 1.3em;
    right: 30px;}
#Top-Btn {
    font-size: 1.6em;}

/* Level List */
.Level-List .Level-1 { padding-left: 5px; }
.Level-List .Level-2 { padding-left: 15px; }
.Level-List .Level-3 { padding-left: 25px; }
.Level-List .Level-4 { padding-left: 35px; }
.Level-List .Level-5 { padding-left: 45px; }
.Level-List .Level-6 { padding-left: 55px; }
.Level-List .Level-7 { padding-left: 65px; }

/* toggle */
.collapsed:before {
    content:"\e080" !important;
    font-family: "Glyphicons Halflings";
}
    
.accordion-toggle {
    display:inline-block;
    cursor: pointer;
}
    
.accordion-toggle:before {
    content:"\e114";
    font-family: "Glyphicons Halflings";
        
    /*--adjust as necessary--*/
    color: #000;
    padding-right: 0.5em;
    width:15px;
    display:inline-block;
}

 /* Fixed Sidebar */
@media (min-width: 1200px) {
    .Fixed {
        position: fixed;
        top: 10px;
        width:350px;
    }
}
@media (max-width: 1199px) {
    .Fixed {
        position: fixed;
        top: 10px;
        width:283px;
    }
}
@media (max-width: 991px) {
    .Fixed {
        position: static;
        width:690px;
    }
}
@media (max-width: 480px) {
    .Fixed {
        position: static;
        width:290px;
    }
}
/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
