*{ font-family: 'Hiragino Kaku Gothic Pro', 'Meiryo', sans-serif; }
/*.container {
    width: auto;
}*/
html,
body .Body {
  height: 100%;}
h1 { font-size: 2.5em; }
h2 { font-size: 2em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1.3em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1em; }
.firstview {
	margin-top:-64px;
	padding-top:64px;
	height: 100vh;}
.fullscreen {
	height: 100vh;}
#Background-Img {
  position:fixed;
  z-index:-999;
  background-position:top center;
  background-repeat:no-repeat;
}
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  border:none;
  padding-top:20px;
}
.Navbar-Design nav{
    //background-color: rgba(38,50,56,0.5) !important;
    //background-color: rgba(255,255,255,0.0) !important;
}
.Navbar-Design *{
    color:white;}
.Header img{
    margin-bottom:-50px;
}
.Footer {
    margin-left:30px;}
.Widget h4{
    padding:10px;}
.Widget h4 .glyphicon{
    padding-right:10px;}
.Widget .Search{
    padding: 5px 20px 30px;}

.Font-Big {
    font-size: 30px;}

.Text-Shadow {
    text-shadow: gray 1px 1px 0, gray -1px 1px 0,
             gray 1px -1px 0, gray -1px -1px 0;}
.Text-Light {
    text-shadow: white 1px 1px 0, white -1px 1px 0,
             white 1px -1px 0, white -1px -1px 0;}
.Post-Body p{
    font-size:1.2em;
	line-height: 170%;}
.Post-Body h2 {
    font-weight:bold;
    color: #313698;
    margin-top: 40px;
    padding: 5px;
    border-bottom: solid 1px #313698;}
.Post-Body h3 {
    font-weight:bold;
    color: #5a6c94;
    padding:2px 5px 2px 15px;
    border-left: solid 6px #5a6c94;}
.Post-Body h4 {
    font-weight: bold;
    color: #5a6c94;
    margin-top: 30px;
    margin-left: 15px;
}
.Post-Body ul{
	padding-left: 40px !important;
	font-weight: bold;
}
.Post-Body ul li{
	list-style-type: circle !important;
}
.Post-Body ol{
	list-style-type: decimal !important;
	font-weight: bold;
}
.Post-Body blockquote {
  background-color: #f5f5f5;
}
.Single-Post h1{
    color: #313698;}
.List-Post h2{
    font-size:1.7em;}
.List-Post .Post-Title {
    height:150px;
    min-height:150px;}
.List-Post .Post-Data {
    height:100px;
    min-height:100px;}
.List-Post .Post-Eyecatch {
    border-radius:0 0 10px 10px;}
.Description {
    position:relative;}
.Description .Link-Btn{
    position:absolute;
    background-color:white;
    border:solid 1px #bbcee9;
    border-radius:6px;
    padding:5px 10px;
    right:15px;
    bottom:15px;}
.Categories {
    padding: 0 10px;}
.Header {
    position:relative;}
.Site-Infomations {
    padding:25px 35px}
.Site-Infomations .Site-Title {
    font-size:2em;
    }
.Site-Infomations .Site-Description {
    }

#Static-Toolbar {
    position: fixed;
    bottom: 10px;
    right: 50px;}
#Static-Toolbar #Sns-Bar {
    position: fixed;
    right:53px;}
#Static-Toolbar #Sns-Bar table td{
    vertical-align:top;
	padding: 5px;}
#Static-Toolbar #Btns {
    position: fixed;
    font-size: 1.3em;
    right: 30px;}

/* Level List */
.Level-List .Level-1 { padding-left: 5px; }
.Level-List .Level-2 { padding-left: 15px; }
.Level-List .Level-3 { padding-left: 25px; }
.Level-List .Level-4 { padding-left: 35px; }
.Level-List .Level-5 { padding-left: 45px; }
.Level-List .Level-6 { padding-left: 55px; }
.Level-List .Level-7 { padding-left: 65px; }

/* toggle */
.collapsed:before {
    content:"\e080" !important;
    font-family: "Glyphicons Halflings";
}
    
.accordion-toggle {
    display:inline-block;
    cursor: pointer;
}
    
.accordion-toggle:before {
    content:"\e114";
    font-family: "Glyphicons Halflings";
        
    /*--adjust as necessary--*/
    color: #000;
    padding-right: 0.5em;
    width:15px;
    display:inline-block;
}

.Fixed {
    position: fixed;
    /* HACK:Off by */
    width:21.5%;
    top:50px;
    z-index:-99;
}

.umb-grid img {
	width:100%;
}

/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
