*{ font-family: 'Hiragino Kaku Gothic Pro', 'Meiryo', sans-serif; }
.Navbar {
    /*background-color: rgba(212, 212, 212, 0.4);*/}
.Header img{
    margin-bottom:-50px;
}
.Footer {
    margin-left:30px;}
.Widget h4{
    padding:10px;}
.Widget h4 .glyphicon{
    padding-right:10px;}

.Font-Big {
    font-size: 30px;}

.Text-Shadow {
    color:white;
    text-shadow: black 1px 1px 0px, black -1px 1px 0px,
             black 1px -1px 0px, black -1px -1px 0px;}
.Post ul{
    margin-left:0;
    padding-left:1em;
}
.Post-Body p{
    font-size:0.9em;
	line-height: 170%;}
.Post-Body h2 {
    font-size:1.3em;
    padding-left:15px;
    border-left: solid 8px #7a7db6;}
.Post-Body h3 {
    font-size:1.2em;
    padding:10px;
    background-color: #bbcee9;}
.List-Post h2{
    padding:0 5px;
    font-size:1em;}
.Post-Title {
    font-size:1.3em;
    height:90px;
    min-height:90px;}
.List-Post .Post-Data {
    height:100px;
    padding:0 5px;
    min-height:100px;}
.List-Post .Post-Eyecatch {
    border-radius:0 0 10px 10px;}
.Description {
    position:relative;}
.Description .Link-Btn{
    position:absolute;
    background-color:white;
    border:solid 1px #bbcee9;
    border-radius:6px;
    padding:5px 10px;
    right:15px;
    bottom:15px;}
.Categories {
    padding: 0 10px;}
.Header {
    position:relative;}
.Site-Infomations {
    padding:25px 35px}
.Site-Infomations .Site-Title {
    font-size:2em;
    }
.Site-Infomations .Site-Description {
    }

#Static-Toolbar {
    position: fixed;
    bottom: 10px;
    right: 50px;}
#Static-Toolbar #Sns-Bar {
    position: fixed;
    right:53px;}
#Static-Toolbar #Sns-Bar table td{
    vertical-align:top;
	padding: 5px;}
#Static-Toolbar #Btns {
    position: fixed;
    font-size: 1.3em;
    right: 30px;}

/* override bootstrap */
.col-xs-12 {
    padding-left:0;
    padding-right:0;
}

/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
