<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Landing Content</Name>
    <Alias>VelstandContentLanding</Alias>
    <Icon>icon-plane color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master>VelstandContent</Master>
    <Compositions>
      <Composition>VelstandContent</Composition>
    </Compositions>
    <AllowedTemplates>
      <Template>VelstandContentLanding</Template>
    </AllowedTemplates>
    <DefaultTemplate>VelstandContentLanding</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Name>Grid</Name>
      <Alias>grid</Alias>
      <Type>Umbraco.Grid</Type>
      <Definition>ad9168ca-4cc3-414b-bcd4-2f4242c83bd9</Definition>
      <Tab>Content</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>49</Id>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
  <Hash>77e11b890fe3c6ba916ee9e6b47d1a40</Hash>
</DocumentType>