<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Landing Content</Name>
    <Alias>VelstandContentLanding</Alias>
    <Icon>icon-plane color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master>VelstandContent</Master>
    <Compositions>
      <Composition>VelstandContent</Composition>
    </Compositions>
    <AllowedTemplates>
      <Template>VelstandContentLanding</Template>
    </AllowedTemplates>
    <DefaultTemplate>VelstandContentLanding</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Name>Grid</Name>
      <Alias>grid</Alias>
      <Type>Umbraco.Grid</Type>
      <Definition>6525d3ef-6693-4b81-b0cb-136eb1fcde07</Definition>
      <Tab>Content</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>49</Id>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
  <Hash>c4d2bbd5ac42db70c45e0442a2a34681</Hash>
</DocumentType>