<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Infomation</Name>
    <Alias>VelstandInfomation</Alias>
    <Icon>icon-radio</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master>VelstandPages</Master>
    <AllowedTemplates>
      <Template>VelstandInfomation</Template>
    </AllowedTemplates>
    <DefaultTemplate>VelstandInfomation</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Type>Umbraco.Textbox</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>Content</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Body</Name>
      <Alias>body</Alias>
      <Type>Velstand.MDEditor.Label</Type>
      <Definition>fe9b6c72-5f70-4567-9f34-5de534cf39d4</Definition>
      <Tab>Content</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Select Widgets</Name>
      <Alias>selectWidgets</Alias>
      <Type>Umbraco.MacroContainer</Type>
      <Definition>0c7cbd26-98b6-4a4a-8619-8ddc42e96dac</Definition>
      <Tab>Content</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Select Fixed Widgets</Name>
      <Alias>selectFixedWidgets</Alias>
      <Type>Umbraco.MacroContainer</Type>
      <Definition>0c7cbd26-98b6-4a4a-8619-8ddc42e96dac</Definition>
      <Tab>Content</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>41</Id>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
  <Hash>3601fb52944ff5631f1a8889330f1c95</Hash>
</DocumentType>