<?xml version="1.0" encoding="utf-8"?>
<Template>
  <Name>Velstand Content</Name>
  <Alias>VelstandContent</Alias>
  <Design><![CDATA[﻿@using Velstand.Helpers
@using Velstand.Models
@using Velstand.Utilities
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "VelstandWrapper.cshtml";
    IPublishedContent current = CurrentPage;
    var paginator = new PaginationModel(current);
}

@section VelstandHead
{
}

@section VelstandBody
{
    <article class="Single-Post Post panel panel-default">
        <div class="panel-body">
            <h1 class="Post-Title">@Umbraco.Field("title")</h1>
            <span class="Post-Date glyphicon glyphicon-calendar">@Html.DictionalyDateFormat(current, "releaseDate")</span>
            <span class="Post-Category">
                <span class="glyphicon glyphicon-tag">@Html.CategoryWithLink(current, "category")</span>
            </span>
            <p class="Post-Eyecatch">@Html.Crop(current, "eyecatch", "blogContentHead")</p>
            <div class="Post-Body">
				@* Google Adsense *@
				@Umbraco.RenderMacro("VelstandWidgetGoogleAdsense")
					
                @Umbraco.Field("body").ToLazyLoad()
            </div>

            @* disqus *@
            @Html.Partial("VelstandDisqus")
        </div>


        <div class="panel-footer">

        </div>
    </article>
			
	@* Google Adsense *@
	@Umbraco.RenderMacro("VelstandWidgetGoogleAdsense")

    @* Related Posts *@
    @Html.Partial("VelstandRelatedPosts")

    @* Prev Next *@
    <span class="col-xs-12">@paginator.Html.Next(Umbraco.GetDictionaryValue("ContentpageNextButton"))</span>
    <span class="col-xs-12">@paginator.Html.Previous(Umbraco.GetDictionaryValue("ContentpagePreviousButton"))</span>
}]]></Design>
  <Master>VelstandWrapper</Master>
  <Hash>5cf1d20d7dda9cb74ae9430c0737fa6e</Hash>
</Template>