<?xml version="1.0" encoding="utf-8"?>
<Template>
  <Name>Velstand Content</Name>
  <Alias>VelstandContent</Alias>
  <Design><![CDATA[@using Velstand.Helpers
@using Velstand.Models
@using Velstand.Utilities
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "VelstandWrapper.cshtml";
    IPublishedContent current = CurrentPage;
    var paginator = new PaginationModel(current);
}
@section VelstandHead
{
}
@section VelstandBody
{
    <div class="col s12">
		@Html.Partial("VelstandBreadCrumb")
	</div>
    <section class="MainContent col s12 m8">
        <article class="Single-Post Post">
            <div class="collection">
                <div class="collection-item">
                    <h1 class="Post-Title">@Umbraco.Field("title")</h1>
                    <span class="Post-Date mdi-notification-event-note"> @Html.DictionalyDateFormat(current, "releaseDate")</span>&nbsp;&nbsp;
                    <span class="Post-Category mdi-action-label">@Html.CategoryWithLink(current, "category")</span>
                </div>
                @Html.Crop(current, "eyecatch", "blogContentHead")
                <div class="collection-item">
                    <div class="Post-Body">
                        @current.VMarkUp("body").ToLazyLoad()
                    </div>
                    @* disqus *@
                    @Html.Partial("VelstandDisqus")
                </div>

                <div class="panel-footer">
                </div>

            </div>
        </article>

        @* Google Adsense x 2 *@
		<div class="row">
			<div class="col s12 m6 left-align">
        		@Umbraco.RenderMacro("VelstandWidgetGoogleAdsense")
			</div>
			<div class="col s12 m6 right-align">
        		@Umbraco.RenderMacro("VelstandWidgetGoogleAdsense")
			</div>
		</div>
				
        @* Related Posts *@
        @Html.Partial("VelstandRelatedPosts")
        @* Prev Next *@
		<div class="row">
			<div class="col s3">@Umbraco.GetDictionaryValue("ContentpageNextButton")</div>
			<div class="col s9">@paginator.Html.Next()</div>
		</div>
		<div class="row">
			<div class="col s3">@Umbraco.GetDictionaryValue("ContentpagePreviousButton")</div>
        	<div class="col s9">@paginator.Html.Previous()</div>
		</div>
    </section>
    <section class="SubContent col s12 m4">
        @Html.Partial("VelstandSidebar")
    </section>

}]]></Design>
  <Master>VelstandWrapper</Master>
  <Hash>5cf1d20d7dda9cb74ae9430c0737fa6e</Hash>
</Template>