<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Markdown" Id="Umbraco.MarkdownEditor" Definition="a184ec88-c1cd-41d5-bb96-2c3e14164dad" DatabaseType="Nvarchar">
  <PreValues>
    <PreValue Id="189" Value="1" Alias="preview" SortOrder="0" />
    <PreValue Id="190" Value="" Alias="defaultValue" SortOrder="1" />
  </PreValues>
  <Hash>aca7251fc086cf453f4a46775f1c8484</Hash>
</DataType>