<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Multiple Media Picker" Id="Umbraco.MultipleMediaPicker" Definition="7e3962cc-ce20-4ffc-b661-5897a894ba7e" DatabaseType="Nvarchar">
  <PreValues>
    <PreValue Id="5" Value="1" Alias="multiPicker" SortOrder="0" />
  </PreValues>
  <Hash>93119c55e1fc3e74b7f475ff97bfa99c</Hash>
</DataType>