<?xml version="1.0" encoding="utf-8"?>
<DataType Name="VelstandSelectWidget" Id="Umbraco.MacroContainer" Definition="0c7cbd26-98b6-4a4a-8619-8ddc42e96dac" DatabaseType="Ntext">
  <PreValues>
    <PreValue Id="130" Value="" Alias="max" SortOrder="0" />
    <PreValue Id="131" Value="[&#xD;&#xA;  &quot;VelstandWidgetCategoryList&quot;,&#xD;&#xA;  &quot;VelstandWidgetContentMap&quot;,&#xD;&#xA;  &quot;VelstandWidgetGoogleAdsense&quot;,&#xD;&#xA;  &quot;VelstandWidgetLinks&quot;,&#xD;&#xA;  &quot;VelstandWidgetMonthlyArchives&quot;,&#xD;&#xA;  &quot;VelstandWidgetNewPosts&quot;,&#xD;&#xA;  &quot;VelstandWidgetSearch&quot;,&#xD;&#xA;  &quot;VelstandWidgetSocialButtons&quot;,&#xD;&#xA;  &quot;VelstandWidgetSponsoredLink&quot;&#xD;&#xA;]" Alias="allowed" SortOrder="1" />
  </PreValues>
  <Hash>153b51178490c935ee7fba84f2b7a54e</Hash>
</DataType>