<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Velstand Markdown" Id="Velstand.MDEditor" Definition="77186720-d19a-4740-a013-a86761940fbd" DatabaseType="Ntext">
  <PreValues>
    <PreValue Id="184" Value="500" Alias="editor_height" SortOrder="0" />
  </PreValues>
  <Hash>9e8976846fea0bf859d7bb2cde062ac7</Hash>
</DataType>