<?xml version="1.0" encoding="utf-8"?>
<DataType Name="VelstandMultiContentPicker" Id="Umbraco.MultiNodeTreePicker" Definition="85dbb8d1-5af5-4131-9e66-b0d1dd9c19ef" DatabaseType="Nvarchar">
  <PreValues>
    <PreValue Id="42" Value="{&#xD;&#xA;  &quot;type&quot;: &quot;content&quot;&#xD;&#xA;}" Alias="startNode" SortOrder="0" />
    <PreValue Id="43" Value="" Alias="filter" SortOrder="1" />
    <PreValue Id="44" Value="" Alias="minNumber" SortOrder="2" />
    <PreValue Id="45" Value="" Alias="maxNumber" SortOrder="3" />
  </PreValues>
  <Hash>cdc05309cdcb635df0679a3a54d13fe1</Hash>
</DataType>