<?xml version="1.0" encoding="utf-8"?>
<DataType Name="VelstandHolderSetting" Id="Umbraco.DropDown" Definition="6354bd01-7f4d-47cc-9391-4e4bd20b3734" DatabaseType="Nvarchar">
  <PreValues>
    <PreValue Id="8" Value="/yyyy/mm/dd" Alias="0" SortOrder="0" />
    <PreValue Id="9" Value="/yyyy/mmmm/dd" Alias="1" SortOrder="1" />
    <PreValue Id="10" Value="/yyyy/mm" Alias="2" SortOrder="2" />
    <PreValue Id="11" Value="/yyyy/mmmm" Alias="3" SortOrder="3" />
    <PreValue Id="12" Value="/yyyymm" Alias="4" SortOrder="4" />
    <PreValue Id="186" Value="Not specified" Alias="5" SortOrder="5" />
  </PreValues>
  <Hash>7426e65a7925adf8835cbb0eebdcd6f7</Hash>
</DataType>