<?xml version="1.0" encoding="utf-8"?>
<DataType Name="VelstandEyecatch" Id="Umbraco.ImageCropper" Definition="b20a123b-afa4-483e-bfff-fb4177adf147" DatabaseType="Ntext">
  <PreValues>
    <PreValue Id="71" Value="[&#xD;&#xA;  {&#xD;&#xA;    &quot;alias&quot;: &quot;blogIcon&quot;,&#xD;&#xA;    &quot;width&quot;: 80,&#xD;&#xA;    &quot;height&quot;: 80&#xD;&#xA;  },&#xD;&#xA;  {&#xD;&#xA;    &quot;alias&quot;: &quot;blogEyecatch&quot;,&#xD;&#xA;    &quot;width&quot;: 200,&#xD;&#xA;    &quot;height&quot;: 200&#xD;&#xA;  },&#xD;&#xA;  {&#xD;&#xA;    &quot;alias&quot;: &quot;blogContentHead&quot;,&#xD;&#xA;    &quot;width&quot;: 950,&#xD;&#xA;    &quot;height&quot;: 150&#xD;&#xA;  },&#xD;&#xA;  {&#xD;&#xA;    &quot;alias&quot;: &quot;blogThumbnail&quot;,&#xD;&#xA;    &quot;width&quot;: 500,&#xD;&#xA;    &quot;height&quot;: 200&#xD;&#xA;  }&#xD;&#xA;]" Alias="crops" SortOrder="0" />
  </PreValues>
  <Hash>cb4ef3be1bf2a0f0493c002441a3356c</Hash>
</DataType>