<?xml version="1.0" encoding="utf-8"?>
<DataType Name="VelstandMarkdownEditor" Id="Umbraco.MarkdownEditor" Definition="4ed6cd44-1910-4549-9223-8dee24b2706b" DatabaseType="Ntext">
  <PreValues>
    <PreValue Id="218" Value="1" Alias="preview" SortOrder="0" />
    <PreValue Id="219" Value="" Alias="defaultValue" SortOrder="1" />
  </PreValues>
  <Hash>7c11fba8ad04a5a16a11e29f8cb29786</Hash>
</DataType>