<?xml version="1.0" encoding="utf-8"?>
<DataType Name="VelstandMarkdownEditor" Id="MdEdit" Definition="4ed6cd44-1910-4549-9223-8dee24b2706b" DatabaseType="Ntext">
  <PreValues>
    <PreValue Id="227" Value="500" Alias="editor_height" SortOrder="0" />
  </PreValues>
  <Hash>2b749f868b7b33dd02335e55414991f6</Hash>
</DataType>