<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Velstand Markdown Mini" Id="Velstand.MDEditor.Label" Definition="fe9b6c72-5f70-4567-9f34-5de534cf39d4" DatabaseType="Ntext">
  <PreValues>
    <PreValue Id="185" Value="250" Alias="editor_height" SortOrder="0" />
  </PreValues>
  <Hash>7a42d92d7d47c9784f1a35f1ce61864f</Hash>
</DataType>