.slider .center {
    text-align: center;
}

.slider .usky-cell-media {
    position: relative;
}

.slider .title {
    font-size:2em;
    position: absolute;
    top: 25px;
    width:98%;
    height:40px;
    text-align:center;
}

.slider .description {
    position: absolute;
    top: 85px;
    width:98%;
    text-align:center;
}