<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Velstand Root</Name>
    <Alias>VelstandRoot</Alias>
    <Icon>icon-store color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master>VelstandPages</Master>
    <Compositions>
      <Composition>VelstandPages</Composition>
    </Compositions>
    <AllowedTemplates>
      <Template>VelstandRoot</Template>
    </AllowedTemplates>
    <DefaultTemplate>VelstandRoot</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>VelstandHolderBlogtop</DocumentType>
    <DocumentType>VelstandPrivateSettings</DocumentType>
    <DocumentType>VelstandPrivateholderCategory</DocumentType>
    <DocumentType>VelstandHolderInfomation</DocumentType>
    <DocumentType>VelstandHolderPages</DocumentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Type>Umbraco.Textbox</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>Content</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Grid</Name>
      <Alias>grid</Alias>
      <Type>Umbraco.Grid</Type>
      <Definition>ad9168ca-4cc3-414b-bcd4-2f4242c83bd9</Definition>
      <Tab>Content</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>19</Id>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
  <Hash>9145383a87f277fbad296ff306d5a69a</Hash>
</DocumentType>