<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<DictionaryItem Key="Velstand">
  <Value LanguageId="1" LanguageCultureAlias="en-US"><![CDATA[]]></Value>
  <Value LanguageId="2" LanguageCultureAlias="ja-JP"><![CDATA[]]></Value>
  <DictionaryItem Key="BreadCrumb">
    <Value LanguageId="1" LanguageCultureAlias="en-US"><![CDATA[ post]]></Value>
    <Value LanguageId="2" LanguageCultureAlias="ja-JP"><![CDATA[　の投稿]]></Value>
    <DictionaryItem Key="BreadCrumbCategory">
      <Value LanguageId="1" LanguageCultureAlias="en-US"><![CDATA[  Category Post]]></Value>
      <Value LanguageId="2" LanguageCultureAlias="ja-JP"><![CDATA[　に関する投稿]]></Value>
    </DictionaryItem>
    <DictionaryItem Key="BreadCrumbDay">
      <Value LanguageId="1" LanguageCultureAlias="en-US"><![CDATA[posted on {0:d MMMM yyyy}]]></Value>
      <Value LanguageId="2" LanguageCultureAlias="ja-JP"><![CDATA[{0:yyyy年MM月dd日} の投稿]]></Value>
    </DictionaryItem>
    <DictionaryItem Key="BreadCrumbMonth">
      <Value LanguageId="1" LanguageCultureAlias="en-US"><![CDATA[posted on {0:MMMM yyyy}]]></Value>
      <Value LanguageId="2" LanguageCultureAlias="ja-JP"><![CDATA[{0:yyyy年MM月} の投稿]]></Value>
    </DictionaryItem>
    <DictionaryItem Key="BreadCrumbText">
      <Value LanguageId="1" LanguageCultureAlias="en-US"><![CDATA[Text Search : ]]></Value>
      <Value LanguageId="2" LanguageCultureAlias="ja-JP"><![CDATA[テキスト検索 : ]]></Value>
    </DictionaryItem>
    <DictionaryItem Key="BreadCrumbYear">
      <Value LanguageId="1" LanguageCultureAlias="en-US"><![CDATA[posted in {0:yyyy}]]></Value>
      <Value LanguageId="2" LanguageCultureAlias="ja-JP"><![CDATA[{0:yyyy} 年の投稿]]></Value>
    </DictionaryItem>
  </DictionaryItem>
  <DictionaryItem Key="DateFormat">
    <Value LanguageId="1" LanguageCultureAlias="en-US"><![CDATA[{0:MM.dd.yyyy}]]></Value>
    <Value LanguageId="2" LanguageCultureAlias="ja-JP"><![CDATA[{0:yyyy.MM.dd}]]></Value>
  </DictionaryItem>
  <DictionaryItem Key="Pages">
    <Value LanguageId="1" LanguageCultureAlias="en-US"><![CDATA[]]></Value>
    <Value LanguageId="2" LanguageCultureAlias="ja-JP"><![CDATA[]]></Value>
    <DictionaryItem Key="ContentpageNextButton">
      <Value LanguageId="1" LanguageCultureAlias="en-US"><![CDATA[Next]]></Value>
      <Value LanguageId="2" LanguageCultureAlias="ja-JP"><![CDATA[次のページ]]></Value>
    </DictionaryItem>
    <DictionaryItem Key="ContentpagePreviousButton">
      <Value LanguageId="1" LanguageCultureAlias="en-US"><![CDATA[Previous]]></Value>
      <Value LanguageId="2" LanguageCultureAlias="ja-JP"><![CDATA[前のページ]]></Value>
    </DictionaryItem>
    <DictionaryItem Key="HolderpageMoreButton">
      <Value LanguageId="1" LanguageCultureAlias="en-US"><![CDATA[more]]></Value>
      <Value LanguageId="2" LanguageCultureAlias="ja-JP"><![CDATA[続きを読む]]></Value>
    </DictionaryItem>
    <DictionaryItem Key="ToppageMoreButton">
      <Value LanguageId="1" LanguageCultureAlias="en-US"><![CDATA[more]]></Value>
      <Value LanguageId="2" LanguageCultureAlias="ja-JP"><![CDATA[もっと見る]]></Value>
    </DictionaryItem>
  </DictionaryItem>
  <DictionaryItem Key="Widgets">
    <Value LanguageId="1" LanguageCultureAlias="en-US"><![CDATA[]]></Value>
    <Value LanguageId="2" LanguageCultureAlias="ja-JP"><![CDATA[]]></Value>
    <DictionaryItem Key="Calendar">
      <Value LanguageId="1" LanguageCultureAlias="en-US"><![CDATA[Calendar]]></Value>
      <Value LanguageId="2" LanguageCultureAlias="ja-JP"><![CDATA[カレンダー]]></Value>
    </DictionaryItem>
    <DictionaryItem Key="Category">
      <Value LanguageId="1" LanguageCultureAlias="en-US"><![CDATA[Categories]]></Value>
      <Value LanguageId="2" LanguageCultureAlias="ja-JP"><![CDATA[カテゴリー]]></Value>
    </DictionaryItem>
    <DictionaryItem Key="ContentMap">
      <Value LanguageId="1" LanguageCultureAlias="en-US"><![CDATA[Contents]]></Value>
      <Value LanguageId="2" LanguageCultureAlias="ja-JP"><![CDATA[コンテンツ]]></Value>
    </DictionaryItem>
    <DictionaryItem Key="MonthlyArchives">
      <Value LanguageId="1" LanguageCultureAlias="en-US"><![CDATA[Monthly Archives]]></Value>
      <Value LanguageId="2" LanguageCultureAlias="ja-JP"><![CDATA[月別アーカイブ]]></Value>
      <DictionaryItem Key="MonthlyArchivesDateFormat">
        <Value LanguageId="1" LanguageCultureAlias="en-US"><![CDATA[{0:MMMM yyyy}]]></Value>
        <Value LanguageId="2" LanguageCultureAlias="ja-JP"><![CDATA[{0:yyyy年MM月}]]></Value>
      </DictionaryItem>
    </DictionaryItem>
    <DictionaryItem Key="NewPosts">
      <Value LanguageId="1" LanguageCultureAlias="en-US"><![CDATA[New Posts]]></Value>
      <Value LanguageId="2" LanguageCultureAlias="ja-JP"><![CDATA[最新の投稿]]></Value>
    </DictionaryItem>
    <DictionaryItem Key="Search">
      <Value LanguageId="1" LanguageCultureAlias="en-US"><![CDATA[Search]]></Value>
      <Value LanguageId="2" LanguageCultureAlias="ja-JP"><![CDATA[検索]]></Value>
      <DictionaryItem Key="SearchPlaceHolder">
        <Value LanguageId="1" LanguageCultureAlias="en-US"><![CDATA[Text ...]]></Value>
        <Value LanguageId="2" LanguageCultureAlias="ja-JP"><![CDATA[検索 ...]]></Value>
      </DictionaryItem>
      <DictionaryItem Key="SearchSubmit">
        <Value LanguageId="1" LanguageCultureAlias="en-US"><![CDATA[Go!]]></Value>
        <Value LanguageId="2" LanguageCultureAlias="ja-JP"><![CDATA[実行]]></Value>
      </DictionaryItem>
    </DictionaryItem>
    <DictionaryItem Key="Tag">
      <Value LanguageId="1" LanguageCultureAlias="en-US"><![CDATA[Tags]]></Value>
      <Value LanguageId="2" LanguageCultureAlias="ja-JP"><![CDATA[タグ]]></Value>
    </DictionaryItem>
  </DictionaryItem>
  <Hash>551037a36d98613b02452aa534b30fd5</Hash>
</DictionaryItem>