<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Velstand Pages</Name>
    <Alias>VelstandPages</Alias>
    <Icon>.sprTreeFolder</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master>Velstand</Master>
    <AllowedTemplates />
    <DefaultTemplate></DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
  <Hash>8404242dd267a32ca1f4248b0dd30079</Hash>
</DocumentType>