<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Grid Content</Name>
    <Alias>GridContent</Alias>
    <Icon>icon-thumbnails</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master>VelstandContent</Master>
    <Compositions>
      <Composition>VelstandContent</Composition>
    </Compositions>
    <AllowedTemplates>
      <Template>VelstandContentGrid</Template>
    </AllowedTemplates>
    <DefaultTemplate>VelstandContentGrid</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Name>Body</Name>
      <Alias>grid</Alias>
      <Type>Umbraco.Grid</Type>
      <Definition>6525d3ef-6693-4b81-b0cb-136eb1fcde07</Definition>
      <Tab>Content</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Tags</Name>
      <Alias>tag</Alias>
      <Type>Umbraco.Tags</Type>
      <Definition>b6b73142-b9c1-4bf8-a16d-e1c23320b549</Definition>
      <Tab>Options</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>46</Id>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Id>47</Id>
      <Caption>Options</Caption>
      <SortOrder>1</SortOrder>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
  <Hash>fc8b9f69fca7941bfd64da13de0dbf6c</Hash>
</DocumentType>