<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Grid Content</Name>
    <Alias>GridContent</Alias>
    <Icon>icon-thumbnails</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master>VelstandContent</Master>
    <Compositions>
      <Composition>VelstandContent</Composition>
    </Compositions>
    <AllowedTemplates>
      <Template>VelstandContentGrid</Template>
    </AllowedTemplates>
    <DefaultTemplate>VelstandContentGrid</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Name>Grid</Name>
      <Alias>grid</Alias>
      <Type>Umbraco.Grid</Type>
      <Definition>ad9168ca-4cc3-414b-bcd4-2f4242c83bd9</Definition>
      <Tab>Content</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>46</Id>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Id>47</Id>
      <Caption>Options</Caption>
      <SortOrder>1</SortOrder>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
  <Hash>c594e94b363fd5ac13b8f81253cf8e7a</Hash>
</DocumentType>