@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Velstand.cshtml";
}
@section Velstand
{
    <!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="Expires" content="86400" />
        <link rel="edituri" type="application/rsd+xml" href="/umbraco/channels/rsd.aspx" />
        <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="/umbraco/channels/wlwmanifest.aspx" />

        @* Seo Settings *@
        @Html.Partial("VelstandSeoHead")

        @RenderSection("VelstandHead")
    </head>
    <body>
        @RenderSection("VelstandBody")
    </body>
</html>
}