<?xml version="1.0" encoding="utf-8"?>
<Template>
  <Name>Velstand Functions</Name>
  <Alias>VelstandFunctions</Alias>
  <Design><![CDATA[﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Velstand.cshtml";
}]]></Design>
  <Master>Velstand</Master>
  <Hash>c881b6003ac6f0fec1b9e58c910795f7</Hash>
</Template>