@using Velstand.Models
@using Velstand.Helpers
@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
    IPublishedContent current = CurrentPage;
    IPublishedContent holder = current.VBlogHolderTop();
}

<ul class="Widget collection white">
    <li class="collection-header"><h4><span class="mdi-action-autorenew"></span> @Umbraco.GetDictionaryValue("NewPosts")</h4></li>
    @foreach (var post in holder.VHasContents().Take(10))
    {
        <li class="NewPosts clearfix">
            <a href="@post.Url" class="collection-item valign-wrapper">
                @Html.Crop(post, "eyecatch", "blogIcon", isLazyLoad: false, classValue: "img-responsive circle Post-Icon left")
				<div class="Post-Title">@Umbraco.Field(post, "title")</div>
			</a>
        </li>
    }
</ul>
