@using Velstand.Models
@using Velstand.Constants
@using Velstand.Helpers
@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
    IPublishedContent current = CurrentPage;
    IPublishedContent content = current.VBlogHolderTop();
}
<form action="@content.Url" method="get">
	<div class="input-field Search row">
		<div class="col s2">
			<button type="submit" class="btn blue lighten-3 btn-floating waves-effect waves-light">
				<i class="mdi-action-search right"></i>
			</button>
		</div>
		<div class="col s10">
			<input id="search" type="text" name="@VelstandRequest.Text" placeholder="@Umbraco.GetDictionaryValue("SearchPlaceHolder")" class="form-control" />
		</div>
	</div>
</form>
