@using Velstand.Constants
@using Velstand.Models
@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
    IPublishedContent current = CurrentPage;
    IPublishedContent content = current.VBlogHolderTop();
    var contents = content.VHasContents().VOrderByRelease();
    var startdate = DateTime.Now;
    if (contents.Count() != 0)
    {
        startdate = contents.OrderBy(x => x.GetPropertyValue(VelstandProperty.ReleaseDate))
                                     .Where(y => y.GetPropertyValue<DateTime>(VelstandProperty.ReleaseDate).CompareTo(new DateTime()) != 0)
                                     .First().GetPropertyValue<DateTime>(VelstandProperty.ReleaseDate);
    }
    var idate = DateTime.Now;

    <ul class="v-widget collection">
        <li class="collection-header"><h4><span class="mdi-notification-event-note"></span> @Umbraco.GetDictionaryValue("MonthlyArchives")</h4></li>
        @while (new DateTime(startdate.Year, startdate.Month, 1) <= new DateTime(idate.Year, idate.Month, 1))
        {
            var cnt = contents.Where(x => x.GetPropertyValue<DateTime>("releaseDate").ToString("yyyyMM") == idate.ToString("yyyyMM")).Count();
            var currentMonth = new DateTime(idate.Year, idate.Month, 1);
            var url = content.Url + "?date=" + idate.ToString("yyyyMM");
            idate = idate.AddMonths(-1);
            //if (idate.AddMonths(12) < DateTime.Now) { break; }
            if (cnt == 0) { continue; }

            <li>
                <a href="@url" class="collection-item">
                    @string.Format(Umbraco.GetDictionaryValue("MonthlyArchivesDateFormat"), currentMonth)
                    <span class="badge">@cnt</span>
                </a>
            </li>
        }
    </ul>

}
