@*inherits umbraco.MacroEngines.DynamicNodeContext*@
@using Velstand.Constants
@using Velstand.Models
@using umbraco.MacroEngines;
@using Tags = umbraco.editorControls.tags;
@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
    IPublishedContent current = CurrentPage;
    IPublishedContent holder = current.VBlogHolderTopOrRoot();
	var rawTagXml = Tags.library.getAllTagsInGroup("default").Current.InnerXml;
	var newsGroupTags = new DynamicXml(rawTagXml);
}
<div class="Widget panel">
	<h4 class="panel-title"><span class="glyphicon glyphicon-tags"></span>@Umbraco.GetDictionaryValue("Tag")</h4>
	<div class="Categories">		
		@if (newsGroupTags.Any())
		{
			<ul class="list-group list-inline">
				@foreach (var tag in newsGroupTags)
				{
					<li class="list-group-item">
						<a href="@holder.VTagUrl(tag.InnerText)">@tag.InnerText</a>
					</li>
				}
			</ul>
		}
	</div>
</div>
