<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Blog Holder</Name>
    <Alias>VelstandHolderBlog</Alias>
    <Icon>icon-folder-outline color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master>VelstandHolder</Master>
    <AllowedTemplates>
      <Template>VelstandHolder</Template>
    </AllowedTemplates>
    <DefaultTemplate>VelstandHolder</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>VelstandContentBlog</DocumentType>
    <DocumentType>VelstandHolderBlog</DocumentType>
  </Structure>
  <GenericProperties />
  <Tabs />
  <Hash>45fe3b08e025e02e232957b739b56aac</Hash>
</DocumentType>