<?xml version="1.0" encoding="utf-8"?>
<macro>
  <name>Velstand Widget Links</name>
  <alias>VelstandWidgetLinks</alias>
  <scriptType></scriptType>
  <scriptAssembly></scriptAssembly>
  <scriptingFile>~/Views/MacroPartials/VelstandWidgetLinks.cshtml</scriptingFile>
  <xslt></xslt>
  <useInEditor>True</useInEditor>
  <dontRender>True</dontRender>
  <refreshRate>0</refreshRate>
  <cacheByMember>False</cacheByMember>
  <cacheByPage>False</cacheByPage>
  <properties>
    <property name="Title" alias="title" sortOrder="0" propertyType="Umbraco.Textbox" />
    <property name="Link1" alias="link1" sortOrder="1" propertyType="Umbraco.ContentPickerAlias" />
    <property name="Link2" alias="link2" sortOrder="2" propertyType="Umbraco.ContentPickerAlias" />
    <property name="Link3" alias="link3" sortOrder="3" propertyType="Umbraco.ContentPickerAlias" />
    <property name="Link4" alias="link4" sortOrder="4" propertyType="Umbraco.ContentPickerAlias" />
    <property name="Link5" alias="link5" sortOrder="5" propertyType="Umbraco.ContentPickerAlias" />
    <property name="Link6" alias="link6" sortOrder="6" propertyType="Umbraco.ContentPickerAlias" />
    <property name="Link7" alias="link7" sortOrder="7" propertyType="Umbraco.ContentPickerAlias" />
    <property name="Link8" alias="link8" sortOrder="8" propertyType="Umbraco.ContentPickerAlias" />
    <property name="Link9" alias="link9" sortOrder="9" propertyType="Umbraco.ContentPickerAlias" />
    <property name="link10" alias="link10" sortOrder="10" propertyType="Umbraco.ContentPickerAlias" />
  </properties>
  <Hash>cde7a2e9c91e80a87744b2012ae26b47</Hash>
</macro>