<?xml version="1.0" encoding="utf-8"?>
<macro>
  <name>Velstand Widget Google Adsense</name>
  <alias>VelstandWidgetGoogleAdsense</alias>
  <scriptType></scriptType>
  <scriptAssembly></scriptAssembly>
  <scriptingFile>~/Views/MacroPartials/VelstandWidgetGoogleAdsense.cshtml</scriptingFile>
  <xslt></xslt>
  <useInEditor>False</useInEditor>
  <dontRender>True</dontRender>
  <refreshRate>0</refreshRate>
  <cacheByMember>False</cacheByMember>
  <cacheByPage>False</cacheByPage>
  <properties />
  <Hash>cb98c97c6bbdde024bf1a6f120345727</Hash>
</macro>