<?xml version="1.0" encoding="utf-8"?>
<macro>
  <name>Velstand Widget Tag List</name>
  <alias>VelstandWidgetTagList</alias>
  <scriptType></scriptType>
  <scriptAssembly></scriptAssembly>
  <scriptingFile>~/Views/macropartials/velstandwidgettaglist.cshtml</scriptingFile>
  <xslt></xslt>
  <useInEditor>False</useInEditor>
  <dontRender>True</dontRender>
  <refreshRate>0</refreshRate>
  <cacheByMember>False</cacheByMember>
  <cacheByPage>False</cacheByPage>
  <properties />
  <Hash>d30ccd8f1e8710a3d9aa164edda8b50c</Hash>
</macro>