<?xml version="1.0" encoding="utf-8"?>
<macro>
  <name>Velstand Widget Content Map</name>
  <alias>Velstand Widget Content Map</alias>
  <scriptType></scriptType>
  <scriptAssembly></scriptAssembly>
  <scriptingFile>~/Views/MacroPartials/VelstandWidgetContentMap.cshtml</scriptingFile>
  <xslt></xslt>
  <useInEditor>False</useInEditor>
  <dontRender>True</dontRender>
  <refreshRate>0</refreshRate>
  <cacheByMember>False</cacheByMember>
  <cacheByPage>False</cacheByPage>
  <properties />
  <Hash>4281fc93f14c63b2da4303905edf6f8b</Hash>
</macro>