<?xml version="1.0" encoding="utf-8"?>
<macro>
  <name>Velstand Widget Search</name>
  <alias>Velstand Widget Search</alias>
  <scriptType></scriptType>
  <scriptAssembly></scriptAssembly>
  <scriptingFile>~/Views/MacroPartials/VelstandWidgetSearch.cshtml</scriptingFile>
  <xslt></xslt>
  <useInEditor>False</useInEditor>
  <dontRender>True</dontRender>
  <refreshRate>0</refreshRate>
  <cacheByMember>False</cacheByMember>
  <cacheByPage>False</cacheByPage>
  <properties />
  <Hash>d5f0f015fe7f43733b19fc369b44ad30</Hash>
</macro>