<?xml version="1.0" encoding="utf-8"?>
<macro>
  <name>Velstand Widget New Posts</name>
  <alias>VelstandWidgetNewPosts</alias>
  <scriptType></scriptType>
  <scriptAssembly></scriptAssembly>
  <scriptingFile>~/Views/MacroPartials/VelstandWidgetNewPosts.cshtml</scriptingFile>
  <xslt></xslt>
  <useInEditor>False</useInEditor>
  <dontRender>True</dontRender>
  <refreshRate>0</refreshRate>
  <cacheByMember>False</cacheByMember>
  <cacheByPage>False</cacheByPage>
  <properties />
  <Hash>6eb1798c065826a736225a594212311b</Hash>
</macro>