<?xml version="1.0" encoding="utf-8"?>
<macro>
  <name>Velstand Widget Sponsored Link</name>
  <alias>Velstand Widget SponsoredLink</alias>
  <scriptType></scriptType>
  <scriptAssembly></scriptAssembly>
  <scriptingFile>~/Views/MacroPartials/VelstandWidgetSponsoredLink.cshtml</scriptingFile>
  <xslt></xslt>
  <useInEditor>False</useInEditor>
  <dontRender>True</dontRender>
  <refreshRate>0</refreshRate>
  <cacheByMember>False</cacheByMember>
  <cacheByPage>False</cacheByPage>
  <properties />
  <Hash>71498eb33034f387aa7127a6fec231ee</Hash>
</macro>