<?xml version="1.0" encoding="utf-8"?>
<macro>
  <name>Velstand Widget Category List</name>
  <alias>VelstandWidgetCategoryList</alias>
  <scriptType></scriptType>
  <scriptAssembly></scriptAssembly>
  <scriptingFile>~/Views/MacroPartials/VelstandWidgetCategoryList.cshtml</scriptingFile>
  <xslt></xslt>
  <useInEditor>False</useInEditor>
  <dontRender>True</dontRender>
  <refreshRate>0</refreshRate>
  <cacheByMember>False</cacheByMember>
  <cacheByPage>False</cacheByPage>
  <properties />
  <Hash>9937c347af93eee66a614a11b2f4f762</Hash>
</macro>