<?xml version="1.0" encoding="utf-8"?>
<macro>
  <name>Velstand Widget Social Buttons</name>
  <alias>VelstandWidgetSocialButtons</alias>
  <scriptType></scriptType>
  <scriptAssembly></scriptAssembly>
  <scriptingFile>~/Views/MacroPartials/VelstandWidgetSocialButtons.cshtml</scriptingFile>
  <xslt></xslt>
  <useInEditor>True</useInEditor>
  <dontRender>True</dontRender>
  <refreshRate>0</refreshRate>
  <cacheByMember>False</cacheByMember>
  <cacheByPage>False</cacheByPage>
  <properties />
  <Hash>93bac7f32e99eff156e82d0e4df2128b</Hash>
</macro>