<?xml version="1.0" encoding="utf-8"?>
<macro>
  <name>Velstand Widget Monthly Archives</name>
  <alias>VelstandWidgetMonthlyArchives</alias>
  <scriptType></scriptType>
  <scriptAssembly></scriptAssembly>
  <scriptingFile>~/Views/MacroPartials/VelstandWidgetMonthlyArchives.cshtml</scriptingFile>
  <xslt></xslt>
  <useInEditor>False</useInEditor>
  <dontRender>True</dontRender>
  <refreshRate>0</refreshRate>
  <cacheByMember>False</cacheByMember>
  <cacheByPage>False</cacheByPage>
  <properties />
  <Hash>ccab952fbd0bceba0e652183d626d5e4</Hash>
</macro>