<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Blog Holder (Top)</Name>
    <Alias>VelstandHolderBlogtop</Alias>
    <Icon>icon-book-alt-2 color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master>VelstandHolderBlog</Master>
    <AllowedTemplates>
      <Template>VelstandHolder</Template>
    </AllowedTemplates>
    <DefaultTemplate>VelstandHolder</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>VelstandContentBlog</DocumentType>
    <DocumentType>VelstandHolderBlog</DocumentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Name>Blog Folder Format</Name>
      <Alias>autoMakeHolderName</Alias>
      <Type>Umbraco.DropDown</Type>
      <Definition>6354bd01-7f4d-47cc-9391-4e4bd20b3734</Definition>
      <Tab>Settings</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Select Widgets</Name>
      <Alias>selectWidgets</Alias>
      <Type>Umbraco.MacroContainer</Type>
      <Definition>0c7cbd26-98b6-4a4a-8619-8ddc42e96dac</Definition>
      <Tab>Settings</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Select Fixed Widgets</Name>
      <Alias>selectFixedWidgets</Alias>
      <Type>Umbraco.MacroContainer</Type>
      <Definition>0c7cbd26-98b6-4a4a-8619-8ddc42e96dac</Definition>
      <Tab>Settings</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>20</Id>
      <Caption>Settings</Caption>
      <SortOrder>80</SortOrder>
    </Tab>
  </Tabs>
  <Hash>92360e23ef881d34fa4eacb490506a23</Hash>
</DocumentType>