<?xml version="1.0" encoding="utf-8"?>
<Template>
  <Name>Velstand SiteMap</Name>
  <Alias>VelstandSiteMap</Alias>
  <Design><![CDATA[@using Velstand.Models
@using Velstand.Constants
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "VelstandWrapper.cshtml";
}
@section VelstandHead
{
}
@section VelstandBody
{
    <div class="col s12">
		@Html.Partial("VelstandBreadCrumb")
	</div>
    @* Render the sitemap by passing the root node to the traverse helper *@
    <section class="v-main-content col s12">
        <article class="v-single-post v-post collection">
            <div class="collection-item">
                <h1 class="v-post-title">@Umbraco.Field("title")</h1>
                <ul class="v-level-list">
                    @Traverse(CurrentPage.VRoot())
                </ul>
            </div>
        </article>
		
        @* Google Adsense x 2 *@
		<div class="row">
			<div class="col s12 m6 left-align">
        		@Umbraco.RenderMacro("VelstandWidgetGoogleAdsense")
			</div>
			<div class="col s12 m6 right-align">
        		@Umbraco.RenderMacro("VelstandWidgetGoogleAdsense")
			</div>
		</div>
}
@* Helper method to travers through all descendants *@
@helper Traverse(IPublishedContent node)
{
    @* Select visible children *@
    var items = node.Children.Where(x => !x.DocumentTypeAlias.StartsWith(VelstandPrefix.PrivateItem)
                                                          && !x.DocumentTypeAlias.StartsWith(VelstandPrefix.Error));

                                                        @* If any items are returned, render a list *@
    if (items.Any())
    {
        foreach (var item in items)
        {
            <li class="v-level-@item.Level">
                @if (item.DocumentTypeAlias.StartsWith(VelstandPrefix.Content))
                {
                    <i class="mdi-editor-insert-drive-file"></i>
                    }
                    else
                    {
                    <i class="mdi-file-folder-open"></i>
                }
                <a href="@item.Url">@Umbraco.Field(item, "title", altText: item.Name)</a>
                @* Run the traverse helper again *@
                @Traverse(item)
            </li>
        }
    }
}]]></Design>
  <Master>VelstandWrapper</Master>
  <Hash>27a6f6e73c39251edada25d0e3f7b3d6</Hash>
</Template>