<div ng-controller="MdEdit.Controller" class="MdEdit">
    <div class="btn-toolbar">
        <button type="button" value="Preview" ng-click="preview()" class="btn btn-info"><i class="icon-tv"></i></button>
        <button type="button" value="H2" ng-click="toH2()" class="btn">H2</button>
        <button type="button" value="H3" ng-click="toH3()" class="btn">H3</button>
        <button type="button" value="H4" ng-click="toH4()" class="btn">H4</button>
        <!--<button type="button" value="Bold" ng-click="toBold()" class="btn"><b>B</b></button>
        <button type="button" value="Itaric" ng-click="toItaric()" class="btn"><i>I</i></button>
        <button type="button" value="Strikeout" ng-click="toStrikeout()" class="btn"><s>S</s></button>-->
        <button type="button" value="Hr" ng-click="insertHr()" class="btn">Hr</button>
        <!--<button type="button" value="Code" ng-click="toCode()" class="btn"><i class="icon-terminal"></i></button>-->
        <button type="button" value="BlockQuote" ng-click="toBlockquotes()" class="btn"><i class="icon-quote"></i></button>
        <button type="button" value="List" ng-click="toList()" class="btn"><i class="icon-bulleted-list"></i></button>
        <button type="button" value="NumberdList" ng-click="toNumberList()" class="btn"><i class="icon-ordered-list"></i></button>
        <button type="button" value="Image" ng-click="mediaPick()" class="btn"><i class="icon-picture"></i></button>
        <button type="button" value="Link" ng-click="linkPick()" class="btn"><i class="icon-link"></i></button>
        <button type="button" value="Undo" ng-click="undo()" class="btn"><i class="icon-undo"></i></button>
        <button type="button" value="Redo" ng-click="redo()" class="btn"><i class="icon-redo"></i></button>
    </div>
    <div ui-ace="{ onLoad : aceLoaded }" style="height:{{model.config.editor_height}}px;"></div>
    <input type="hidden" ng-model="model.value" />
</div>