<?xml version="1.0" encoding="utf-8"?>
<Template>
  <Name>Velstand Content Pages</Name>
  <Alias>VelstandContentPages</Alias>
  <Design><![CDATA[@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "VelstandWrapper.cshtml";
}]]></Design>
  <Master>VelstandWrapper</Master>
  <Hash>5af0adc510f6b0b3a9638670aabaa7e2</Hash>
</Template>