<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Error Page (404)</Name>
    <Alias>VelstandInfomationError404</Alias>
    <Icon>icon-alert-alt color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master>VelstandInfomation</Master>
    <AllowedTemplates>
      <Template>VelstandInfomation</Template>
    </AllowedTemplates>
    <DefaultTemplate>VelstandInfomation</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
  <Hash>3cdb78f1aa288d24145cd4e8bb58e608</Hash>
</DocumentType>