<?xml version="1.0" encoding="utf-8"?>
<Template>
  <Name>Velstand Infomation</Name>
  <Alias>VelstandInfomation</Alias>
  <Design><![CDATA[@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "VelstandWrapper.cshtml";
}
@section VelstandHead
{
}
@section VelstandBody
{
    <div class="col s12">
		@Html.Partial("VelstandBreadCrumb")
	</div>
    <section class="v-main-content col s12">
        <article class="v-single-post v-post collection">
            <div class="collection-item">
                <h1 class="v-post-title">@Umbraco.Field("title")</h1>
                <div class="v-post-body">
                    @Umbraco.Field("body")
                </div>
            </div>
        </article>
    </section>
}]]></Design>
  <Master>VelstandWrapper</Master>
  <Hash>e626a034c606b2ec027c737add2f2d71</Hash>
</Template>