<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Blog Content</Name>
    <Alias>VelstandContentBlog</Alias>
    <Icon>icon-autofill color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master>VelstandContent</Master>
    <AllowedTemplates>
      <Template>VelstandContent</Template>
    </AllowedTemplates>
    <DefaultTemplate>VelstandContent</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
  <Hash>8f6abce1c08c3882a4e4c64fceb87e48</Hash>
</DocumentType>