@using Velstand.Utilities
@using Velstand.Models
@using Velstand.Constants
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    var feed = ((IPublishedContent)CurrentPage).VRoot().Descendants("VelstandFunctionFeed").First();
    var pageUrl = UrlUtil.SchemeAndAuthority() + feed.Url;
}

<div id="Static-Toolbar">
    <div id="Sns-Bar">
        <table>
            <tr>
                <td>
                    <a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical" data-via="" data-url="@(pageUrl)" data-text="@Umbraco.Field("title")">Tweet</a>
                    <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
                </td>
                <td>
                    <iframe src="http://www.facebook.com/plugins/like.php?href=@(pageUrl)&layout=box_count&show_faces=false&width=50&action=like&colorscheme=light&height=62" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:70px; height:62px;" allowtransparency="true"></iframe>
                </td>
                <td>
                    <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
                    <g:plusone size="tall" href="@(pageUrl)"></g:plusone>
                </td>
                <td>
                    <a href='http://cloud.feedly.com/#subscription%2Ffeed%2F@(HttpUtility.UrlEncode(pageUrl))' target='blank'>
                        <img id='feedlyFollow' src='http://s3.feedly.com/img/follows/feedly-follow-square-volume_2x.png' alt='follow us in feedly' width='28' height='28'>
                    </a>
                </td>
                @*<td>
                    <a href="http://b.hatena.ne.jp/entry/@(pageUrl)" class="hatena-bookmark-button" data-hatena-bookmark-title="@(Umbraco.Field("title"))" data-hatena-bookmark-layout="vertical" title="このエントリーをはてなブックマークに追加"><img src="http://b.st-hatena.com/images/entry-button/button-only.gif" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a>
                    <script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
                </td>*@
            </tr>
        </table>
    </div>
    <div id="Btns" class="btn-group" role="group">
        <button id="Nav-Btn" class="btn btn-default"><span class="glyphicon glyphicon-star"></span></button>
        <button id="Top-Btn" class="btn btn-default"><span class="glyphicon glyphicon-arrow-up"></span></button>
    </div>
</div>