@using Velstand.Constants
@using Velstand.Models
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    IPublishedContent current = CurrentPage;
    IPublishedContent content = current.HasValue("selectWidgets") ? current : current.VBlogHolderTopOrRoot().DescendantOrSelf(VelstandDocumentType.BlogHolderTop);
}

@Html.Raw(umbraco.library.RenderMacroContent(content.GetPropertyValue<string>("selectWidgets"), CurrentPage.Id))

<div id="Fixed-Sidebar">
    @Html.Raw(umbraco.library.RenderMacroContent(content.GetPropertyValue<string>("selectFixedWidgets"), CurrentPage.Id))
</div>
