<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Sitemap</Name>
    <Alias>VelstandInfomationSitemap</Alias>
    <Icon>icon-umb-translation color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master>VelstandInfomation</Master>
    <AllowedTemplates>
      <Template>VelstandSiteMap</Template>
    </AllowedTemplates>
    <DefaultTemplate>VelstandSiteMap</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
  <Hash>a2806a4856ff30cf4ba83339de780316</Hash>
</DocumentType>