<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Child Category</Name>
    <Alias>VelstandPrivateCategoryChild</Alias>
    <Icon>icon-tag color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master>VelstandPrivateCategory</Master>
    <AllowedTemplates />
    <DefaultTemplate></DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
  <Hash>04bd0011c353d8630e98c5fa797de7cd</Hash>
</DocumentType>