<?xml version="1.0" encoding="utf-8"?>
<Template>
  <Name>Velstand Holder</Name>
  <Alias>VelstandHolder</Alias>
  <Design><![CDATA[﻿@using Velstand.Helpers
@using Velstand.Models
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "VelstandWrapper.cshtml";
    var search = new SearchEngineModel(CurrentPage, Request);
}

@section VelstandHead
{
}

@section VelstandBody
{
    <div class="col-md-12">
        <article class="clearfix">
            @Umbraco.Field("body")
        </article>
    </div>

    @foreach (var post in search.Contents())
    {
        <article class="col-md-12 panel panel-default clearfix">
            <div class="col-md-3 pull-left">
                <p class="Post-Eyecatch">
                    <a href="@post.Url">@Html.Crop(post, "eyecatch", "blogEyecatch")</a>
                </p>
            </div>
            <div class="Description panel-body col-md-9">
                <h2><a href="@post.Url">@Umbraco.Field(post, "title")</a></h2>
                <p class="Post-Data">
                    <span class="glyphicon glyphicon-calendar">@string.Format(Umbraco.GetDictionaryValue("DateFormat"), post.GetPropertyValue<DateTime>("releaseDate"))</span>
                    @string.Join(", ", post.VMultiNodes("category").Select(x => x.Name))
                </p>
                <hr />
                <p class="Post-Introduction">@Umbraco.Field(post, "introduction")</p>
                <a class="Link-Btn" href="@post.Url">
                    <span class="glyphicon glyphicon-check"></span> @Umbraco.GetDictionaryValue("HolderpageMoreButton")
                </a>
            </div>
        </article>
    }

    @* Pagination *@
    <ul class="pagination">
        @search.Html.Prev("<")
        @search.Html.Pagination()
        @search.Html.Next(">")
    </ul>
}]]></Design>
  <Master>VelstandWrapper</Master>
  <Hash>0626d97ea3b0464c70f4a7aed76413f7</Hash>
</Template>